<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.example.odata.profile.utils.contribution1">
         <menu
               label="ODada"
               path="additions"
               id="som.odata.profile.utils.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Auto-apply Profile"
               class="som.odata.profile.utils.popup.actions.AutoApplyProfileAction"
               menubarPath="com.example.odata.profile.utils.menu1/group1"
               enablesFor="1"
               id="com.example.odata.profile.utils.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
